@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* VARS */
:root {
    --text-color: white;
    --color1: #36393f;
    --color2: #40444B;
    --color3: #72767D;
    --color4: #32353A;
    --color5: #42454A;
    --color6: #2F3136;
    --color7: #D1D8DE;
    --page-width: 98%;
}

@media only screen and (min-width: 768px) {
  :root {
    --page-width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body,
html,
main,
main #chat, main #start {
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  background-color: var(--color1);
  color: var(--text-color);
  height: 100%;
}

#chatform {
  padding: 0.25rem;
  position: absolute;
  bottom: 12px;
  left: 0;
  transition: left .5s;
  right: 0;
  display: flex;
  height: 4rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  justify-content: center;
}

input {
  border: none;
  padding: 20px;
  padding-left: 2rem;
  font-size: 18px;
  border-radius: 7px;
  margin: 0.25rem;
  background: var(--color2);
  color: var(--text-color);
}

#input {
  width: var(--page-width);
  transition: width .5s;
  z-index: 10;
}
#input:focus {
  outline: none;
}

#messagelist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: var(--page-width);
  transition: width .5s;
  margin: auto;
  margin-top: 20px;
  max-height: 105%;
  overflow-x: hidden;
  overflow-y: auto;
}
#messagelist > li {
  padding: 0.5rem 1rem;
}

#startform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.header {
  width: var(--page-width);
  transition: width .5s;
  margin: auto;
  text-overflow:ellipsis;
  color: var(--color3);
  font-weight: bolder;
}

.header p {
  margin: 1px;
  margin-top:3px;
}

.count {
  font-size: 25px;
  font-weight: bold;
  margin-right:5px;
}

hr {
  border-color: var(--color4);
  border-style: solid;
  border-width: 1px;
  margin-top: 3px;
}

.header p {
  display: inline;
}

.channeltext {
  color: var(--color3);
}

.channeltext .symbol {
  font-size: 30px;
  padding-right: 5px;
  font-weight:normal;
  font-family: 'Rubik', sans-serif;
}

.seperator {
  font-weight: lighter;
  border-right: 1px solid var(--color5);
  width: 20px;
  margin-right: 20px;
}

.channeltext, #user-count, .header .seperator {
  display: inline-flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#channel {
  font-size: 13px;
  font-weight: bolder;
  padding-left:4px;
  color:var(--text-color);
}

 /* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: var(--color6); 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: var(--color7);
  font-family: 'Rubik', sans-serif;
  display: block;
  transition: 0.3s;
}

.sidenav .title {
  color: var(--text-color);
  font-size: 18px;
  padding: 8px 8px 8px 32px;
  font-weight: bold;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

main {
  transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 